/*Colours */
$accent: #4342a0;
$accent-dark: #2f2e70;
$accent-light: #5e5de2;
$accent-lightest: #acaae2;

$off-white: #fafafa;
$grey: #eee;

$box-background: #fff;

$code-color: #555;

/* Spacing */
$reg-space: 2rem;
$lrg-space: 4rem;
$sml-space: 1rem;
$border-radius: 3px;