Redirect 301 /blog/developer-regional-australia/ https://timacdonald.me/being-a-developer-in-regional-australia/
Redirect 301 /blog/fluent-validation-rules-laravel/ https://timacdonald.me/fluent-validation-rules-for-laravel/
Redirect 301 /blog/category/blog/ https://timacdonald.me/