<aside class="profile" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="alternateName" content="TiMacDonald">
    <meta itemprop="sameAs" content="{{ site.twitter_url }}">
    <p>
        <a class="dont-print-url" href="{{ site.url }}">
            <img src="/assets/img/profile.png" class="img" alt="profile image" draggable="false" height="100" width="100" itemprop="image">
        </a>
        <a class="name dont-print-url" href="{{ site.url }}" itemprop="url">
            <span itemprop="name">{{ site.title }}</span>
        </a>
    </p>
    <p itemprop="description">{{ site.description }}</p>
</aside>
