/*! Atom One Light by Daniel Gamage | Original One Light Syntax theme from https://github.com/atom/one-light-syntax */

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

/*! Agate by Taufik Nurrohman <https://github.com/tovic> */

samp .hljs-name,
samp .hljs-strong {
    font-weight: bold;
}

samp .hljs-code,
samp .hljs-emphasis {
    font-style: italic;
}

samp .hljs-tag {
    color: #62c8f3;
}

samp .hljs-variable,
samp .hljs-template-variable,
samp .hljs-selector-id,
samp .hljs-selector-class {
    color: #ade5fc;
}

samp .hljs-string,
samp .hljs-bullet {
    color: #a2fca2;
}

samp .hljs-type,
samp .hljs-title,
samp .hljs-section,
samp .hljs-attribute,
samp .hljs-quote,
samp .hljs-built_in,
samp .hljs-builtin-name {
    color: #ffa;
}

samp .hljs-number,
samp .hljs-symbol,
samp .hljs-bullet {
    color: #d36363;
}

samp .hljs-keyword,
samp .hljs-selector-tag,
samp .hljs-literal {
    color: #fcc28c;
}

samp .hljs-comment,
samp .hljs-deletion,
samp .hljs-code {
    color: #888;
}

samp .hljs-regexp,
samp .hljs-link {
    color: #c6b4f0;
}

samp .hljs-meta {
    color: #fc9b9b;
}

samp .hljs-deletion {
    background-color: #fc9b9b;
    color: #333;
}

samp .hljs-addition {
    background-color: #a2fca2;
    color: #333;
}

samp .hljs a {
    color: inherit;
}

samp .hljs a:focus,
samp .hljs a:hover {
    color: inherit;
    text-decoration: underline;
}
