# Redirects.
Redirect 301 /blog/developer-regional-australia/ https://timacdonald.me/being-a-developer-in-regional-australia/
Redirect 301 /blog/fluent-validation-rules-laravel/ https://timacdonald.me/fluent-validation-rules-for-laravel/
Redirect 301 /blog/category/blog/ https://timacdonald.me/
# Google search console is finding these for some reason.
Redirect 301 /mobile/ https://timacdonald.me/
Redirect 301 /m/ https://timacdonald.me/
Redirect 301 /blog/fluent-va%E2%80%A6 https://timacdonald.me/

# Apache Server Configs v2.14.0 | MIT License | https://github.com/h5bp/server-configs-apache
# The following is based on the above but has been customised.

# Error pages.
ErrorDocument 400 /../public_html/wp-content/themes/theme/error-pages/400.html
ErrorDocument 401 /../public_html/wp-content/themes/theme/error-pages/401.html
ErrorDocument 402 /../public_html/wp-content/themes/theme/error-pages/402.html
ErrorDocument 403 /../public_html/wp-content/themes/theme/error-pages/403.html
ErrorDocument 404 /../public_html/wp-content/themes/theme/error-pages/404.html
ErrorDocument 405 /../public_html/wp-content/themes/theme/error-pages/405.html
ErrorDocument 406 /../public_html/wp-content/themes/theme/error-pages/406.html
ErrorDocument 407 /../public_html/wp-content/themes/theme/error-pages/407.html
ErrorDocument 408 /../public_html/wp-content/themes/theme/error-pages/408.html
ErrorDocument 409 /../public_html/wp-content/themes/theme/error-pages/409.html
ErrorDocument 410 /../public_html/wp-content/themes/theme/error-pages/410.html
ErrorDocument 411 /../public_html/wp-content/themes/theme/error-pages/411.html
ErrorDocument 412 /../public_html/wp-content/themes/theme/error-pages/412.html
ErrorDocument 413 /../public_html/wp-content/themes/theme/error-pages/413.html
ErrorDocument 414 /../public_html/wp-content/themes/theme/error-pages/414.html
ErrorDocument 415 /../public_html/wp-content/themes/theme/error-pages/415.html
ErrorDocument 416 /../public_html/wp-content/themes/theme/error-pages/416.html
ErrorDocument 417 /../public_html/wp-content/themes/theme/error-pages/417.html
ErrorDocument 418 /../public_html/wp-content/themes/theme/error-pages/418.html
ErrorDocument 421 /../public_html/wp-content/themes/theme/error-pages/421.html
ErrorDocument 422 /../public_html/wp-content/themes/theme/error-pages/422.html
ErrorDocument 423 /../public_html/wp-content/themes/theme/error-pages/423.html
ErrorDocument 424 /../public_html/wp-content/themes/theme/error-pages/424.html
ErrorDocument 426 /../public_html/wp-content/themes/theme/error-pages/426.html
ErrorDocument 428 /../public_html/wp-content/themes/theme/error-pages/428.html
ErrorDocument 429 /../public_html/wp-content/themes/theme/error-pages/429.html
ErrorDocument 431 /../public_html/wp-content/themes/theme/error-pages/431.html
ErrorDocument 451 /../public_html/wp-content/themes/theme/error-pages/451.html
ErrorDocument 500 /../public_html/wp-content/themes/theme/error-pages/500.html
ErrorDocument 501 /../public_html/wp-content/themes/theme/error-pages/501.html
ErrorDocument 502 /../public_html/wp-content/themes/theme/error-pages/502.html
ErrorDocument 503 /../public_html/wp-content/themes/theme/error-pages/503.html
ErrorDocument 504 /../public_html/wp-content/themes/theme/error-pages/504.html
ErrorDocument 505 /../public_html/wp-content/themes/theme/error-pages/505.html
ErrorDocument 506 /../public_html/wp-content/themes/theme/error-pages/506.html
ErrorDocument 507 /../public_html/wp-content/themes/theme/error-pages/507.html
ErrorDocument 508 /../public_html/wp-content/themes/theme/error-pages/508.html
ErrorDocument 509 /../public_html/wp-content/themes/theme/error-pages/509.html
ErrorDocument 510 /../public_html/wp-content/themes/theme/error-pages/510.html
ErrorDocument 511 /../public_html/wp-content/themes/theme/error-pages/511.html

# Stop file based pattern matching.
Options -MultiViews

# Set IE to use latest version for old versions.
<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=edge"
    <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>

# Set MIME types.
<IfModule mod_mime.c>
    AddType application/atom+xml atom
    AddType application/json json map topojson
    AddType application/ld+json jsonld
    AddType application/rss+xml rss
    AddType application/vnd.geo+json geojson
    AddType application/xml rdf xml
    AddType application/javascript js
    AddType application/manifest+json webmanifest
    AddType application/x-web-app-manifest+json webapp
    AddType text/cache-manifest appcache
    AddType audio/mp4 f4a f4b m4a
    AddType audio/ogg oga ogg opus
    AddType image/bmp bmp
    AddType image/svg+xml svg svgz
    AddType image/webp webp
    AddType video/mp4 f4v f4p m4v mp4
    AddType video/ogg ogv
    AddType video/webm webm
    AddType video/x-flv flv
    AddType image/x-icon cur ico
    AddType application/font-woff woff
    AddType application/font-woff2 woff2
    AddType application/vnd.ms-fontobject eot
    AddType application/x-font-ttf ttc ttf
    AddType font/opentype otf
    AddType application/octet-stream safariextz
    AddType application/x-bb-appworld bbaw
    AddType application/x-chrome-extension crx
    AddType application/x-opera-extension oex
    AddType application/x-xpinstall xpi
    AddType text/vcard vcard vcf
    AddType text/vnd.rim.location.xloc xloc
    AddType text/vtt vtt
    AddType text/x-component htc
</IfModule>

# Set charset.
AddDefaultCharset utf-8
<IfModule mod_mime.c>
    AddCharset utf-8 .atom \
                     .bbaw \
                     .css \
                     .geojson \
                     .js \
                     .json \
                     .jsonld \
                     .manifest \
                     .rdf \
                     .rss \
                     .topojson \
                     .vtt \
                     .webapp \
                     .webmanifest \
                     .xloc \
                     .xml
</IfModule>

# Rewrite engine.
<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymlinks
    RewriteCond %{HTTPS} =on
    RewriteRule ^ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ - [env=proto:http]
</IfModule>

# Force https.
<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{HTTPS} !=on
   RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>

# Supress www
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ %{ENV:PROTO}://%1%{REQUEST_URI} [R=301,L]
</IfModule>

# Avoid clickjacking.
<IfModule mod_headers.c>
    Header set X-Frame-Options "SAMEORIGIN"
    <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset X-Frame-Options
    </FilesMatch>
</IfModule>

# Stop directory listings.
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Deny access to files that could expose sensitive information.
<FilesMatch "(^#.*#|\.(bak|conf|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>

# Enforce strict transport security.
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=16070400; includeSubDomains"
</IfModule>

# No sniff MIME types.
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# Reflected XXS
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset X-XSS-Protection
    </FilesMatch>
</IfModule>

# Disable X-Powered-By header. Requires php.ini setting as well.
<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>

# Turn off server signature.
ServerSignature Off

# GZIP Compression
<IfModule mod_deflate.c>
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/vnd.geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "image/x-icon" \
                                      "text/cache-manifest" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"
    </IfModule>
    <IfModule mod_mime.c>
        AddEncoding gzip svgz
    </IfModule>
</IfModule>

# Content transformation
<IfModule mod_headers.c>
    Header merge Cache-Control "no-transform"
</IfModule>

# Remove etags.
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None

# Expiry headers.
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 1 month"
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/atom+xml "access plus 1 hour"
    ExpiresByType application/rdf+xml "access plus 1 hour"
    ExpiresByType application/rss+xml "access plus 1 hour"
    ExpiresByType application/json "access plus 0 seconds"
    ExpiresByType application/ld+json "access plus 0 seconds"
    ExpiresByType application/schema+json "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json "access plus 0 seconds"
    ExpiresByType application/xml "access plus 0 seconds"
    ExpiresByType text/xml "access plus 0 seconds"
    ExpiresByType image/vnd.microsoft.icon "access plus 1 week"
    ExpiresByType image/x-icon "access plus 1 week"
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 year"
    ExpiresByType text/javascript "access plus 1 year"
    ExpiresByType application/manifest+json "access plus 1 week"
    ExpiresByType application/x-web-app-manifest+json "access plus 0 seconds"
    ExpiresByType text/cache-manifest "access plus 0 seconds"
    ExpiresByType audio/ogg "access plus 1 month"
    ExpiresByType image/bmp "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
    ExpiresByType image/webp "access plus 1 month"
    ExpiresByType video/mp4 "access plus 1 month"
    ExpiresByType video/ogg "access plus 1 month"
    ExpiresByType video/webm "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
    ExpiresByType font/eot "access plus 1 month"
    ExpiresByType font/opentype "access plus 1 month"
    ExpiresByType application/x-font-ttf "access plus 1 month"
    ExpiresByType application/font-woff "access plus 1 month"
    ExpiresByType application/x-font-woff "access plus 1 month"
    ExpiresByType font/woff "access plus 1 month"
    ExpiresByType application/font-woff2 "access plus 1 month"
    ExpiresByType text/x-cross-domain-policy "access plus 1 week"
</IfModule>

# Filename-based cache busting.
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)\.(\d+)\.(bmp|css|cur|gif|ico|jpe?g|js|png|svgz?|webp|webmanifest)$ $1.$3 [L]